<% if notice %>
	<p id="notice" ><%= notice %></p>
<% end %>

<% @all_news.each do |news| %>
	<div class="entry" >
		<%= image_tag(news.image_url_1) %>
		<h3><%=h news.title %></h3>
		<h3><%=h news.author %></h3>
		<%= sanitize(news.content) %>
		
		<%= link_to "Show full context", shownews_onenews_path(:id => news.id) %>
	</div>
<% end %>
