<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Password:</b>
  <%= @member.password %>
</p>

<p>
  <b>Realname:</b>
  <%= @member.realname %>
</p>

<p>
  <b>Gender:</b>
  <%= @member.gender %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @member.date_of_birth %>
</p>

<p>
  <b>Phone:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Qq:</b>
  <%= @member.qq %>
</p>

<p>
  <b>Current location:</b>
  <%= @member.current_location %>
</p>

<p>
  <b>Resume url:</b>
  <%= @member.resume_url %>
</p>

<%= link_to 'Back to Main Page', mainpage_index_path %>
