<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>
		
		<%= stylesheet_link_tag "depot" %>
		<%= stylesheet_link_tag "mainpage" %>
		<%= javascript_include_tag "default" %>
		<%= csrf_meta_tags %>
	</head>
	
	<body id="store">
		<div id="header">
			<ul id="navigation">
			    <li>
					<a data-g-event="Nav" data-g-label="Logo" href="/mainpage/index">
						<img alt="Android" class="logo" height="40" src="/images/logo.png" width="200">
					</a>		
			    </li>
			    <li>
					<%= link_to "About Us", mainpage_aboutus_path %>
				</li>
				<li>
					<%= link_to "Charter", mainpage_charter_path %>
				</li>
				<li>
					<a data-g-event="Nav" data-g-label="Get Apps" href="//play.google.com/store">Join Us</a>
				</li>
			</ul>
		</div>
		
		<div id="columns">
			<div id="main">
				<%= yield %>
			</div>
			<div id="side">
			</div>
		</div>	
		
		<div id="footer">
			<ul>
				<li>
					<%= link_to "News", shownews_index_path %>
				</li>
				<li>
					<%= link_to "Forum (N/A)", mainpage_index_path %>
				</li>
				<li class="right">
					<%= mail_to "tangbo.gl@gmail.com", "Contact Us" %>
				</li>
			</ul>
		</div>
	</body>
</html>
