<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>
		
		<%= stylesheet_link_tag "depot" %>
		<%= stylesheet_link_tag "mainpage" %>
		<%= javascript_include_tag "default" %>
		<%= csrf_meta_tags %>
	</head>
	
	<body id="store">
		<div id="header">
			<ul id="navigation">
			    <li>
					<%= link_to(image_tag('/images/huihui.jpg', :class => 'logo', :alt => "logo", :height => "50", :width => "50"), 
							      url_for(:controller => 'mainpage', :action => 'index'), 
								  :remote => true) %>		
			    </li>
			    <li>
					<%= link_to "About Us", mainpage_aboutus_path %>
				</li>
				<li>
					<%= link_to "Charter", mainpage_charter_path %>
				</li>
				<li>
					<%= link_to "Join Us", mainpage_joinus_path %>
				</li>
			</ul>
		</div>
		
		<div id="columns">
			<div id="main">
				<%= yield %>
			</div>
			<div id="side">
			</div>
		</div>	
		
		<div id="this is the true footer">
			2013 International Chinese Language Teacher Society. ALL RIGHTS RESERVED. 
		</div>
	</body>
</html>
