<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>
		
		<%= stylesheet_link_tag "depot" %>
		<%= stylesheet_link_tag "mainpage" %>
		<%= javascript_include_tag "default" %>
		<%= csrf_meta_tags %>
	</head>
	<body id="store">
		<div id="header">
			<ul id="navigation">
			  <li>
				<a data-g-event="Nav" data-g-label="Logo" href="/">
					<img alt="Android" class="logo" height="40" src="/images/logo.png" width="200">
				</a>		
			  </li>
			  <li>
				<a data-g-event="Nav" data-g-label="Discover Android" href="/about/">About Us</a>
			  </li>
			  <li>
				<%= link_to "News", shownews_index_path %>
			  </li>
			  <li>
				<a data-g-event="Nav" data-g-label="Get Apps" href="//play.google.com/store">Join Us</a>
			  </li>
			</ul>
		</div>
		<div id="columns">
			<div id="main">
				<%= yield %>
			</div>
			<div id="side">
			</div>
		</div>	
		<div id="footer">
			<ul>
			  <li>
				Forum
			  </li>
			  <li>
				<a data-g-event="Nav" data-g-label="Discover Android" href="/about/">Charter</a>
			  </li>
			  <li class="right">
				<a data-g-event="Nav" data-g-label="Discover Android" href="/about/">Contact Us</a>
			  </li>
			</ul>
		</div>	
	</body>
</html>
