<!DOCTYPE html>
<html>
	<head>
		<title>iclts | news</title>
		
		<%= stylesheet_link_tag "depot" %>
		<%= stylesheet_link_tag "mainpage" %>
		<%= javascript_include_tag "default" %>
		<%= csrf_meta_tags %>
	</head>
	
	<body id="news_list">
		<div id="header">
			<div id="deco_line">
			</div>
			<div id="top_nav">
				<div id="top_logo">
					<a data-g-event="Nav" data-g-label="Logo" href="/mainpage/index">
						<img alt="Android" class="logo" height="40" src="/images/logo.png">
					</a>
				</div>
				<ul id="top_menu">
					<li id="menu_about">
						<%= link_to "About Us", mainpage_aboutus_path %>
					</li>
					<li id="menu_news">
						<%= link_to "News", shownews_index_path %>	
					</li>
					<li id="menu_join">
						<%= link_to "Join Us", mainpage_joinus_path %>
					</li>
				</ul>
			</div>
		</div>
		
		<div id="center">
			<div id="center_news">
				<%= yield %>
			</div>
		</div>	
	
		<div id="footer">
			<div id="copyright">
				Copyright &copy; 2013 International Chinese Language Teacher Society. <br/>ALL RIGHTS RESERVED. 
			</div>
			<ul id="bottom_features">
				<li>
					<%= link_to "Forum (N/A)", mainpage_index_path %>
				</li>
				<li>
					<%= link_to "Charter", mainpage_charter_path %>
				</li>
				<li class="right">
					<%#= mail_to "tangbo.gl@gmail.com", "Contact Us" %>
					<%= link_to "Contact Us", mainpage_leavecomment_path %>
				</li>
			</ul>
		</div>
	</body>
</html>
